html, body {
    background-color: #4d5d53;
    height: 100%;
    margin: 0;
    padding-top: 1em;

}

p {
    padding: 25px;
    display: flex;
    margin: 1em;
    margin-inline-start:0px;
    margin-inline-end: 0px;
    color: #8f9779;
    text-align: center;
    justify-content: center;
    font-weight: bold;

}


.content-container {
    min-height:calc(100%-60px);
    margin: 1em 0 1em 0;
    padding: 1em;
    position: static;
    text-align: center;
    justify-content: center;
    border-radius: 1em;
    border-color: black;
    text-align: center;
}

header {
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .heading {
    color: white;
    font-weight: 700px;
    font-size: 1.5em;
    letter-spacing: 1px;
    margin: 1em;
    

}

header ul {
   display: flex;
   justify-content: center;
   text-align: center;
   background-color: #8f9779;
   border: solid 1px #8f9779;
   border-radius: 40px;
   margin-top: 1em;
   padding-left: 0;

}


header ul li {
    list-style: none;
    margin-left: 20px;
    margin: 20px 20px;
    font-size: 1em;
}

header ul li a {
    color: white;
    text-decoration: none;
    padding: 3px 15px;
    border-radius: 4px;
    top: -30px;
}

header ul li a:hover,
header ul li a.active {
    background:#fff;
    color:#2b1055;
}




.main-text {
    margin-top: 10%;
    text-align: center;
    position: static;
    display; fixed;
}

.main-text h1 {
    font-size: 3em;
    font-weight: 300;
    margin-block: ;
    
}

.sub-text {
    margin-left: 150px;
    font-size: 2em;
    font-weight: 600;
    color:white;
}

.footer {
    text-align: center;
    height:60px; /* height of the footer */
    position: static;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: center;
}

.nav-footer {
    padding-top: 20px;
    padding-bottom: 50px;
    margin-bottom: 0 10px;
}

.nav-footer a {
    color: white;
    font-size: 1.5em;
    padding: 0 10px;
    display: inline-block;

}

.nav-footer a:hover,
.nav-footer a.active {
    color: #2b1055;
}

.nav-footer:hover {
    color: #3333;
}

img {
    float: left;
    margin: 5px;
    height: 100%;
   object-fit: cover;
   margin-right: 20px;
}

.img-container {
    object-fit: cover;
    flex-direction: row;
    flex: 1;
    justify-content: center;
    border: 5px solid;
    border-radius: 4px;
    width: 25%;
    overflow: hidden;
    display: flex;
    flex-basis: 40%;
}

.img-container2 {
    border: 5px solid;
    border-radius: 4px;
    width:20%;
    overflow: hidden;
    display: flex;
    float: right;
    clear: right;

}

.img-container3 {
    border: 5px solid;
    border-radius: 4px;
    width:20%;
    overflow: hidden;
    display: flex;
    float: left;
    clear: right;
}

.text {
    margin: 0;
    font-size: 20px;
    padding-left: 20px;
    color:#fff;
    margin: 150px auto;
}

.main-text2 { 
    text-align: center;
    position: static;
    display: block;
    margin-bottom: 20px;
    font-size: 20px;
    padding-left: 20px;
    color:#fff;
}

.sub-text2 {
    margin-left: 150px;
    margin-right:150px;
    border: 5px solid #738276;
    background-color: #738276;
    border-radius: 40px;
    font-size: 2em;
    font-weight: 600;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
    padding-left: 50px;


}

.sub-text3 {
    margin-left: 150px;
    margin-right: 150px;
    border: 5px solid #738276;
    background-color: #738276;
    border-radius: 40px;
    color:white;
    display: block;
    justify-content: center;

}

.quote {
    font-size: 20px;
    font-weight: 600;
    color:white;
    margin: 20px auto;
    display: flex;
    justify-content: center;
}

