html,
body {
  background-color: #ced5ce;
  height: 100%;
  padding: 0;
  margin: 0;
  padding-top: 1em;
  font-family: Arial, sans-serif;
  font-size: 1rem;
}

p {
  
  padding: 25px;
  color: #313048;
  text-align: center;
  font-weight: bold;
}

.content-container {
  min-height: calc(100%-60px);
  margin: 1em 0 1em 0;
  padding: 1em;
  position: static;
  text-align: center;
  justify-content: center;
  border-radius: 1em;
  border-color: black;
  text-align: center;
}

header {
  padding: 1rem;
  height: 50px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .heading {
  color: #313048;
  font-weight: bold;
  font-size: 1.5em;
  letter-spacing: 1px;
  margin: 1em;
}

header ul {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #313048;
  border: solid 1px #313048;
  border-radius: 40px;
  margin-top: 1em;
  padding-left: 0;
}

header ul li {
  list-style: none;
  margin-left: 20px;
  margin: 20px 20px;
  font-size: 1em;
}

header ul li a {
  color: white;
  text-decoration: none;
  padding: 3px 15px;
  border-radius: 4px;
  top: -30px;
}

header ul li a:hover,
header ul li a.active {
  background: #fff;
  color: #2b1055;
}

.main-text {
  margin-top: 10%;
  text-align: center;
  position: static;
  display: fixed;
}

.main-text h1 {
  font-size: 3em;
  font-weight: 300;
}

.sub-text {
  font-size: 2em;
  font-weight: 600;
  color: #313048;
}

.sub-text2 {
  border: 5px solid #313048;
  background-color: #313048;
  border-radius: 40px;
  font-size: 2em;
  font-weight: 600;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: italic;
  padding-left: 50px;
}

.sub-text3 {
  font-style: italic;
  border: 5px solid #313048;
  background-color: #313048;
  border-radius: 40px;
  color: white;
  display: block;
  justify-content: center;
}

.footer-container {
  text-align: center;
  height: 60px; /* height of the footer */
  position: static;
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: center;
}

.nav-footer {
  text-align: center;
  display: flex;
  justify-content: center;
  padding-top: 38px; /* padding of the footer */
}

.nav-footer a {
  color: #313048;
  font-size: 1.5em;
  padding: 0 10px;
  display: inline-block;
}

.nav-footer a:hover,
.nav-footer a.active {
  color: white;
}

img {
  float: left;
  margin: 5px;
  height: 100%;
  object-fit: cover;
  margin-right: 20px;
}

.img-container {
    align-items: center;
  justify-content: center;
  border: 5px solid;
  width: 25%;
  display: flex;
}

.img-container2 {
  border: 5px solid;
  width: 20%;
  overflow: hidden;
  display: flex;
  float: right;
  clear: right;
}

.img-container3 {
  border: 5px solid;
  width: 20%;
  overflow: hidden;
  display: flex;
  float: left;
  clear: right;
}

/* image styling for wip signs */
.img-container4 {
  object-fit: cover;
  flex-direction: row;
  flex: 1;
  justify-content: center;
  width: 25%;
  overflow: hidden;
  display: flex;
  flex-basis: 40%;
}

/* image styling for wip signs */
.img-container5 {
  width: 20%;
  overflow: hidden;
  display: flex;
  float: right;
  clear: right;
}

/* image styling for wip signs */
.img-container6 {
  width: 20%;
  overflow: hidden;
  display: flex;
  float: left;
  clear: right;
}

.text {
  margin: 0;
  font-size: 20px;
  padding-left: 20px;
  color: #313048;
  margin: 150px auto;
}

.main-text2 {
  text-align: center;
  position: static;
  display: block;
  font-size: 20px;
  color: #313048;
}

.divider-line {
  margin-top: 50px;
  padding: 0;
  width: 95vmax;
  height: 2px;
  background-color: #738276;
  display: inline-block;
}

.divider-line2 {
  margin-top: 50px;
  padding: 0;
  width: 95vmax;
  height: 2px;
  background-color: #738276;
  display: inline-block;
}

.divider-line3 {
  margin-top: 50px;
  padding: 0;
  width: 95vmax;
  height: 2px;
  background-color: #738276;
  display: inline-block;
}

.quote {
  font-size: 20px;
  font-weight: 600;
  color: #313048;
  margin: 20px auto;
  display: flex;
  justify-content: center;
}

form {
  margin-left: 25%;
  align-items: center;
  justify-content: center;
  display: grid;
  max-width: 50%;
  border-radius: 5px;
  font-family: Arial, sans-serif;
}

.contact-Header {
  align-items: center;
  justify-content: center;
  display: flex;
  margin-top: 50px;
  margin-left: 20px;
}

label,
input,
button {
  font-weight: bold;
}

input[type="text"],
input[type="email"] {
  word-break: break-word;
  max-width: 100%;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  font-size: 16px;
}

button[type="submit"] {
  background-color: #313048;
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  max-width: 30em;
}


@media all and (max-height: 320px) {
}

@media all and (max-height: 768px) {
}

@media all and (max-height: 1050px) {
    .footer {
       padding-bottom: 0;
       padding-top: 0;
    }

    .main-text2 {
        padding-top: 50px;
    }

    .img-container, .img-container2, .img-container3 {
        width: 30%;
    }

    .nav-footer {
      padding-top: 10px;
    }

    .nav-footer a {
      padding-right:0px;
      padding-left:0px;
    }

    .footer {
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    }

    

    }
}
